.sidebar {
  background: #002560;
  height: 100%;
}

.menu-item {
  cursor: pointer;
  font-size: 14px;
}

.menu-item:hover,
.menu-item.active {
  background: rgba(255, 255, 255, 0.15);
}

.child-menu li:hover,
.sub-active {
  background: rgba(255, 255, 255, 0.10);
}

.dot {
  width: 8px;
  height: 8px;
  background: #ffae42;
  border-radius: 50%;
}

.child-menu li {
  font-size: 13px;
}
