.sidebar {
  width: 250px;
  background-color: #012a63;
  color: white;
  height: calc(100vh - 65px);
  padding-top: 15px;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 18px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar li:hover,
.sidebar li.active {
  background: #003c8f;
}

.sidebar i {
  font-size: 18px;
}
