.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body-container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* SIDEBAR WIDTH ANIMATION */
app-sidebar {
  width: 55px;
  transition: width .3s ease-in-out;
}

app-sidebar:not([collapsed="true"]) {
  width: 250px;
}

/* MAIN AREA SHIFT */
.main-area {
  flex: 1;
  background: #f5f6f8;
  transition: margin-left .3s ease-in-out;
  margin-left: 55px;
}

.main-area.shift {
  margin-left: 250px;
}

.content-wrapper {
  padding: 20px;
}
