.layout {
  display: flex;
}

app-sidebar {
  width: 250px;
}

app-sidebar[collapsed="true"] {
  width: 60px;
}

.main {
  flex: 1;
  margin-left: 250px;
  transition: margin-left .3s ease;
}

.main.shift {
  margin-left: 60px;
}
