<div *ngIf="!isLoginPage" class="layout d-flex flex-column vh-100">

  <!-- HEADER -->
  <app-header class="header-section border-bottom flex-shrink-0"></app-header>

  <!-- BODY -->
  <div class="body-section d-flex flex-grow-1 overflow-hidden">

    <!-- SIDEBAR -->
    <app-sidebar class="sidebar-section flex-shrink-0"></app-sidebar>

    <!-- MAIN CONTENT -->
    <main class="content-section d-flex flex-column flex-grow-1 overflow-auto p-3 bg-light">
      <router-outlet></router-outlet>

      <!-- FOOTER -->
      <app-footer class="pt-2 mt-auto"></app-footer>
    </main>

  </div>

</div>

<ng-container *ngIf="isLoginPage">
  <router-outlet></router-outlet>
</ng-container>
