.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
app-header {
  flex-shrink: 0;
  height: 65px;
  border-bottom: 1px solid #ddd;
}

/* BODY */
.body-section {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* SIDEBAR */
app-sidebar {
  width: 250px;
  flex-shrink: 0;
  overflow-y: auto;
  background: #002560;
  color: white;
}

/* CONTENT */
.content-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  background: #f7f9fc;
}

/* ROUTER VIEW */
router-outlet + * {
  flex: 1 0 auto;
}

/* FOOTER */
app-footer {
  margin-top: auto;
}
