.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
.header-section {
  height: 65px;
  flex-shrink: 0;
  border-bottom: 1px solid #ddd;
}

/* BODY AREA */
.body-section {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar-section {
  width: 250px;
  flex-shrink: 0;
  overflow-y: auto;
  background: #002560;
  color: white;
}

/* MAIN CONTENT */
.content-section {
  flex-grow: 1;
  background: #f7f9fc;
  overflow-y: auto;
  padding: 20px;
  position: relative;
}

/* FOOTER */
app-footer {
  display: block;
  margin-top: 210px;
}
