.layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px); /* 60px header height */
}

.sidebar-area {
  width: 250px;
  height: 100%;
}

.content-area {
  flex-grow: 1;
  overflow-y: auto;
  background: #f6f7fb;
  padding: 20px;
}
