.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Sidebar */
app-sidebar {
    width: 250px;
    flex-shrink: 0;
    height: calc(100vh - 70px);
    overflow-y: auto;
    background: #002560;
    color: white;
}

/* Main content */
.main-area {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #f6f7fb;
}
