textarea {
  resize: none;
}
.breadcrumb {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.breadcrumb a {
  color: #007bff;
  text-decoration: none;
}
.error-box {
  color: #fff;
  background: #d9534f;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
