<div class="container mt-4">
  <nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a (click)="gotoDashboard()" class="cursor-pointer">Home</a>
      </li>
      <li class="breadcrumb-item">
        Employee Management
      </li>
    </ol>
  </nav>
  <!-- Header box -->
  <div class="card shadow-sm p-3 mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="m-0">Employee List</h3>

      <div class="d-flex gap-2">
        <button class="btn btn-success" (click)="downloadExcel()"> <fa-icon [icon]="faFileExcel" class="me-1"></fa-icon>Excel</button>
        <button class="btn btn-danger" (click)="downloadPdf()"><fa-icon [icon]="faFilePdf" class="me-1"></fa-icon> PDF</button>
        <button class="btn btn-primary" (click)="gotoAddEmployee()">+ Add</button>
      </div>
    </div>
  </div>

  <!-- Table box -->
  <div class="card shadow-sm p-4">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>User Type</th>
          <th>Email</th>
          <th>Zone</th>
          <th>Mobile</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of paginatedEmployees">
          <td>{{ row.employeeId }}</td>
          <td>{{ row.employeeName }}</td>
          <td>{{ row.designation }}</td>
          <td>{{ row.userType }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.zone }}</td>
          <td>{{ row.mobile }}</td>
          <td>
            <button class="btn btn-sm btn-success me-1" (click)="editEmployee(row)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteEmployee(row)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="isNoData()">
          <td colspan="8" class="text-center  fw-bold py-3">No data found</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination Section -->
    <div class="d-flex justify-content-between align-items-center mt-3 flex-wrap">

      <div>
        <label class="me-2 fw-bold">Items per page:</label>
        <select [(ngModel)]="itemsPerPage" (change)="updatePagination()" class="form-select d-inline-block w-auto">
          <option *ngFor="let size of [5,10,20,50]" [value]="size">{{ size }}</option>
        </select>
      </div>

      <div class="fw-bold">
        {{ currentPage }} of {{ totalPages }} pages ({{ totalItems }} items)
      </div>

      <div class="d-flex gap-2">
        <button class="btn btn-outline-secondary btn-sm" (click)="previousPage()" [disabled]="currentPage === 1">&lt; </button>
        <button class="btn btn-outline-secondary btn-sm" (click)="nextPage()" [disabled]="currentPage === totalPages"> &gt;</button>
      </div>

    </div>
  </div>

</div>
