.header {
  height: 65px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logo {
  height: 45px;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.clock {
  font-weight: bold;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.profile-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
