.header {
  height: 65px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 40px;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.clock {
  font-weight: bold;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.name {
  font-weight: 600;
}
