<header class="header">

  <!-- Left -->
  <div class="left">
    <button class="menu-btn" (click)="toggle()">
      <i class="fa fa-bars"></i>
    </button>

    <img src="assets/logo.png" class="logo" />
  </div>

  <!-- Right -->
  <div class="right">

    <span class="clock">{{ now | date:'hh:mm:ss a' }}</span>

    <div class="profile">
      <img src="assets/profile.png" class="profile-img" />
      <span class="name">{{ username }}</span>
      <i class="fa fa-chevron-down"></i>
    </div>

  </div>

</header>
