<nav class="header">

  <img src="assets/logo.png" class="header-logo">

  <div class="header-right">

    <!-- DARK / LIGHT BUTTON (NO functionality) -->
    <button
      class="btn btn-outline-secondary rounded-circle p-1"
      disabled
      title="Theme option (coming soon)">
      <i class="fa fa-moon"></i>
    </button>

    <select >
      <option>English</option>
      <option>Malay</option>
    </select>

    <span class="fw-semibold">{{ time() }}</span>

    <div class="profile">
      <img src="assets/profile.png" class="profile-img">
    </div>

  </div>

</nav>
