.header {
  height: 65px;
  background: white;
  padding: 10px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
}

.header-logo {
  height: 36px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
