<div class="login-container d-flex justify-content-center align-items-center vh-100 bg-gradient">

  <form (ngSubmit)="submit()" class="login-form bg-white p-4 rounded-4 shadow w-100" style="max-width: 360px;">

    <h2 class="fw-bold mb-3">Login</h2>

    <!-- USERNAME -->
    <label class="fw-semibold text-start w-100 mt-2">User Name</label>

    <input
      type="text"
      [(ngModel)]="username"
      name="username"
      class="form-control"
      placeholder="Enter your username"
      [ngClass]="{ 'is-invalid': errors['username'] }"
    />

    @if (errors['username']) {
      <div class="invalid-feedback d-block text-start">
        {{ errors['username'] }}
      </div>
    }

    <!-- PASSWORD -->
    <label class="fw-semibold text-start w-100 mt-3">Password</label>

    <div class="position-relative">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        name="password"
        class="form-control pe-5"
        placeholder="Enter your password"
        [ngClass]="{ 'is-invalid': errors['password'] }"
      />

      <!-- Eye Icon -->
      <span class="eye-icon position-absolute top-50 end-0 translate-middle-y me-3"
            (click)="showPassword = !showPassword">
        <i class="fa"
           [class.fa-eye]="!showPassword"
           [class.fa-eye-slash]="showPassword"></i>
      </span>
    </div>

    @if (errors['password']) {
      <div class="invalid-feedback d-block text-start">
        {{ errors['password'] }}
      </div>
    }

    <!-- BUTTON -->
    <button class="btn btn-primary w-100 mt-4 py-2" type="submit">
      Login
    </button>

  </form>

</div>
